body,
html {
  height: 100%;
  margin: 0;
}


.main-container {
  min-height: 100vh;
  background-image: url("../Images/background.png");
  background-size: cover;
  background-position: center;
  opacity: 0.7;
}

.login-form,
.signup-form {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 30px;
  border-radius: 10px;
  backdrop-filter: blur(17px);
}

.createAnAccountMsg,
.loginMsg {
  margin-top: -19px;
  color: rgb(31, 31, 185);
}

.createAnAccountMsg:hover,
.loginMsg:hover {
  text-decoration: underline;
  cursor: pointer;
}